

/* Estilos generales */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
      }
      header h1 {
        display: inline-block;
      }
      nav {
        display: flex;
        align-items: center;
      }

      nav ul {
        list-style-type: none;
        padding: 0;
      }

      nav ul li {
        display: inline;
        margin-right: 20px;
      }

      nav ul a li {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
      }

      nav ul li a:hover {
        color: #f0f0f0;
      }

      section {
        padding: 50px 20px;
        text-align: center;
      }

      h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
      }

      p {
        font-size: 16px;
        color: #666;
        line-height: 1.6;
      }
      #projects{
        
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        justify-content: center;
        h2{
        width: 100%;    
        }

      }
      

      .project {
        display: inline-block;
        margin: 0 20px;
        text-align: left;
        max-width: 360px;
      }

      .project img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .project h3 {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
      }

      .project p {
        font-size: 16px;
        color: #666;
      }
      .skills {
        display: flex;
      }

      ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
      }

      ul li {
        font-size: 16px;
        color: #333;
        display: inline-block;
        padding: 2rem;
      }

      form {
      margin: auto;
      width: min-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
        }
      form label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;
        text-align: start;
      }

      form input[type="text"],
      form input[type="email"],
      form textarea {
        width: 50vw;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      form button {
        background-color: #333;
        display: block;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin: auto;
        width: 8rem;
        height: 3rem;
        transition: background-color 0.3s ease;
      }

      form button:hover {
        background-color: #555;
      }

      footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        bottom: 0;
        width: 100%;
      }
